# HuggingFace cache
~/.cache/
/home/*/.cache/
/Users/*/.cache/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Local data
data/

# Python cache
**/__pycache__/
**/*.pyc

# macOS metadata
.DS_Store

# Local test or temporary scripts
src/embeddings/vectorize_sample.py

lambda/model/
input.json
output.json
models/
setup_sagemaker.sh
cleanup_sagemaker.sh
setup_fargate.sh
cleanup_fargate.sh
tests/test_delete_flan_realtime.sh
tests/test_realtime_latency.py
tests/test_setup_flan_realtime.sh