# HuggingFace cache
~/.cache/
/home/*/.cache/
/Users/*/.cache/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Local data
data/

# Python cache
**/__pycache__/
**/*.pyc

# macOS metadata
.DS_Store

# Local test or temporary scripts
src/embeddings/vectorize_sample.py

lambda/model/
