# HuggingFace cache
~/.cache/
/home/*/.cache/
/Users/*/.cache/

**/.ipynb_checkpoints/

data/
src/generation/__pycache__/
src/generation/__pycache__/
src/retrieval/__pycache__/
src/embeddings/__pycache__/
.DS_Store
src/embeddings/vectorize_sample.py